:root {
    --primary: #{{ primary.hex }};
    --on_primary: #{{ onPrimary.hex }};
    --primary_container: #{{ primaryContainer.hex }};
    --on_primary_container: #{{ onPrimaryContainer.hex }};
    --inverse_primary: #{{ inversePrimary.hex }};
    --secondary: #{{ secondary.hex }};
    --on_secondary: #{{ onSecondary.hex }};
    --secondary_container: #{{ secondaryContainer.hex }};
    --on_econdary_container: #{{ onSecondaryContainer.hex }};
    --tertiary: #{{ tertiary.hex }};
    --on_tertiary: #{{ onTertiary.hex }};
    --tertiary_container: #{{ tertiaryContainer.hex }};
    --on_tertiary_container: #{{ onTertiaryContainer.hex }};
    --error: #{{ error.hex }};
    --on_error: #{{ onError.hex }};
    --surface: #{{ surface.hex }};
    --on_surface: #{{ onSurface.hex }};
    --surface_variant: #{{ surfaceVariant.hex }};
    --on_surface_variant: #{{ onSurfaceVariant.hex }};
    --outline: #{{ outline.hex }};
    --outline_variant: #{{ outlineVariant.hex }};
    --background: #{{ background.hex }};
    --on_background: #{{ onBackground.hex }};
    --shadow: #{{ shadow.hex }};
    --scrim: #{{ scrim.hex }};

    --primary_rgb: {{ primary.rgb }};
    --on_primary_rgb: {{ onPrimary.rgb }};
    --primary_container_rgb: {{ primaryContainer.rgb }};
    --on_primary_container_rgb: {{ onPrimaryContainer.rgb }};
    --inverse_primary_rgb: {{ inversePrimary.rgb }};
    --secondary_rgb: {{ secondary.rgb }};
    --on_secondary_rgb: {{ onSecondary.rgb }};
    --secondary_container_rgb: {{ secondaryContainer.rgb }};
    --on_econdary_container_rgb: {{ onSecondaryContainer.rgb }};
    --tertiary_rgb: {{ tertiary.rgb }};
    --on_tertiary_rgb: {{ onTertiary.rgb }};
    --tertiary_container_rgb: {{ tertiaryContainer.rgb }};
    --on_tertiary_container_rgb: {{ onTertiaryContainer.rgb }};
    --error_rgb: {{ error.rgb }};
    --on_error_rgb: {{ onError.rgb }};
    --surface_rgb: {{ surface.rgb }};
    --on_surface_rgb: {{ onSurface.rgb }};
    --surface_variant_rgb: {{ surfaceVariant.rgb }};
    --on_surface_variant_rgb: {{ onSurfaceVariant.rgb }};
    --outline_rgb: {{ outline.rgb }};
    --outline_variant_rgb: {{ outlineVariant.rgb }};
    --background_rgb: {{ background.rgb }};
    --on_background_rgb: {{ onBackground.rgb }};
    --shadow_rgb: {{ shadow.rgb }};
    --scrim_rgb: {{ scrim.rgb }};
}
